#mainPane {
    -fx-font: normal bold 30px 'serif';
}

#wipnoLabel {
    -fx-alignment: center;
}

.error {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-border-color: yellow;
    -fx-border-width: 5;
    /*-fx-border-style: segments(10, 15, 15, 15) line-cap round;*/
    -fx-border-style: solid;
}


#closeLabel {
    -fx-background-image: url('../imgs/qr-close.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}